body
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.code1
{
    position: absolute;
    top: 5%;
    left: 1%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Times;
}
.button1
{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 65px;
    background: rgb(255, 0, 0);
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.button2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 65px;
    background: rgb(0, 255, 0);
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.button3
{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 65px;
    background: rgb(0, 0, 255);
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.button4
{
    position: absolute;
    top: 0%;
    left: 5.2%;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.p1
{
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 150px;
    background: rgb(0, 0, 0);
    width: 300px;
    font-size: 18px;
}
.p2
{
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 125px;
    background: rgb(50, 50, 50);
    width: 300px;
    font-size: 18px;
}
.p3
{
    position: absolute;
    top: 47.5%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 77px;
    background: rgb(0, 0, 0);
    font-size: 18px;
}
.p4
{
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 77px;
    background: rgb(0, 0, 0);
    font-size: 18px;
}
.p5
{
    position: absolute;
    top: 47.5%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 77px;
    background: rgb(0, 0, 0);
    font-size: 18px;
}
.button4Phone
{
    position: absolute;
    top: 0%;
    left: 5.2%;
    cursor: pointer;
    background: none;
    border: none;
    visibility: collapse;
    outline: none;
}

/*Media Separation*/

@media only screen and (max-width: 600px) {
    .code1
    {
        font-size: 16px;
        top: 4%;
        left: 4%
    }
    .button4
    {
        visibility: collapse;
    }
    .button4Phone
    {
        top: 0.1%;
        left: 20%;
        visibility: visible;
    }
    .wrapper
    {
        width: 600px;
        margin: 0 auto;
    }
    .button1
    {
    top: 50%;
    left: 33%;
    padding: 30px;
    }
    .button2
    {
        top: 50%;
        left: 50%;
        padding: 30px;
    }
    .button3
    {
        top: 50%;
        left: 67%;
        padding: 30px;
    }
    .p1
    {
        width: 150px;
        padding: 75px;
    }
    .p2
    {
        width: 150px;
        padding: 65px;
    }
    .p3
    {
        font-size: 0.1px;
        padding: 40px;
        transform: translate(-87%, -30%);
    }
    .p4
    {
        font-size: 0.1px;
        padding: 40px;
        transform: translate(-50%, -30%);
    }
    .p5
    {
        font-size: 0.1px;
        padding: 40px;
        transform: translate(-13%, -30%);
    }
}
